* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-image: url(./module/foodies\ \(5\).jpg);
  background-blend-mode: darken;
  backdrop-filter: blur(2px);
}

article {
  background-color: rgb(255, 244, 149) !important;
}

.nav-link:hover {
  background-color: #fff;
  border: 3px solid rgb(245, 10, 61);
  font-weight: 600;
  transition: 0.5s;
  color: rgb(245, 10, 61) !important;
}

.navbar-brand {
  margin-left: 7%;
}

img {
  margin-right: 5px;
}

.collapse {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-left: 10%;
}

.card {
  max-width: 18rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.like-button {
  display: flex;
  flex-direction: column;
}

.logo-name {
  border-bottom: 2px solid #fff;
}

.container {
  margin: 25px auto;
}

footer {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
}

.comment-btn {
  display: block;
  width: 65%;
  height: 40px;
  margin: 10px auto;
  border-radius: 20px;
  color: khaki;
  font-size: 18px;
  font-weight: 800;
}

.comment-btn:active,
.like-button:active {
  font-size: 24px;
}

.comment-btn:hover,
.like-button:hover {
  background-color: black !important;
  border: 2px solid rgb(247, 33, 79);
}

.nav-link {
  color: khaki !important;
  font-weight: 800;
}

@media (max-width: 575.98px) {
  .nav-item {
    margin-left: 0;
  }

  .navbar-nav {
    display: block;
    width: 100%;
    text-align: center;
  }

  .navbar-brand {
    margin-left: 0;
  }
}
